@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* Header */
.header {
  width: 100vw;
  height: 120px;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  height: 120px;
}
/* Logo section */
.logo {
  width: 10%;
  display: flex;
  justify-content: center;
}
/* right section */
.right-section {
  width: 90%;
  background-color: var(--primary-color);
  border-left: 120px solid var(--secondary-color);
  border-bottom: 120px solid transparent;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* content */
.company-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 1rem;
  background-color: var(--secondary-color);
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.company-img {
  width: 30px;
  border-radius: 60%;
}
.company-name {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.content-container {
  width: 100%;
  display: flex;
  margin-top: 3rem;
  gap: 1rem;
  justify-content: flex-end;
  margin-right: 4rem;
  height: 100%;
}
.menu {
  display: none;
}


/* media query for different devices */
@media screen and (max-width: 680px) {
  .header {
    height: 50px;
  }
  .right-section {
    border-left: 50px solid var(--secondary-color);
    border-bottom: 50px solid transparent;
  }
  .header-wrapper {
    height: 50px;
  }
  .content-container {
    display: none;
  }
  .company-name {
    font-weight: normal;
  }
  .menu {
    display: block;
    padding: 0.5rem 1rem;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 10px;
    position: relative;
    top: 20px;
    margin: 1rem 1rem 0 0;
  }
  .menu-container {
    z-index: 10;
    position: fixed;
    right: 0;
  }
}
