.layout {
  width: 100vw;
  display: flex;
  
}
.left-side-bar {
  width: 13%;
}
.main-section {
  box-sizing: border-box;
  width: 80%;
}
.right-side-bar {
  width: 3%;
}
@media screen and (max-width: 1240px) {
  .left-side-bar {
    display: none;
  }
  .main-section {
    width: 95%;
  }
}
@media screen and (max-width: 480px) {
  .right-side-bar {
    display: none;
  }
}
