@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap');
:root {
  --primary-color: #e3f1fe;
  --secondary-color: #fff;
  --text-color: #000;
  --btn-color: #2cb4e9;
  --btn-background-color: #b8d5ed;
  --btn-hover-color: #b1e7ff;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
